@import 'https://fonts.googleapis.com/css?family=Quicksand';

html {
  background-color: lightsteelblue;
}

@font-face {
  font-family: 'Quicksand', sans-serif;
}

.colorSwatch {
  border: 1px solid black;
  display: inline-block;
}

.colorSwatch:hover {
  border: 1px solid white !important;
}

h1 {
  font-size: 72px;
  font-family: 'Quicksand';
  color: #A8BCD7;
  letter-spacing: .1em;
  margin-top: 2px;
  margin-bottom: 2px;
  text-shadow: -1px -1px 1px steelblue, 1px 1px 1px white;
}

.pixCell {
  border: 1px dotted black;
  position: absolute;
  background-color: white;
}

.pixCell:hover {
  border: 1px solid black !important;
}

#ppCanvas {
  position: relative;
  border: 2px solid steelblue;
  margin: 4px;
  box-shadow: -1px -1px 2px steelblue, 1px 1px 2px white;
}

#colorDiv {
  position: fixed;
  background-color: #A8BCD7;
  box-shadow: -1px -1px 2px steelblue, 1px 1px 2px white;
}

#controlsDiv {
  position: fixed;
  background-color: #A8BCD7;
  box-shadow: -1px -1px 2px steelblue, 1px 1px 2px white;
}

#currentColorDiv {
  display: block;
  text-align: center;
  position: relative;
  color: white;
  font-family: 'Quicksand';
  font-weight: bolder;
  border: 1px solid black;
}

button {
  font-family: 'Quicksand';
  font-size: 12px;
  font-weight: bold;
  color: steelblue;
  background-color: lightsteelblue;
}